* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Navigation bar */
.nav_bar {
  width: 100%;
  height: 7rem;
  background-color: black;
  position: fixed;
  z-index: 1000;
}

.nav_bar-child {
  width: 70%;
  margin: 0.5rem auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a:link,
a:visited {
  text-decoration: none;
}

.logo_text {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 4.5rem;
  font-weight: 100;
  letter-spacing: 2px;
}

.options li:not(:last-child) {
  margin-right: 2rem;
}

.button {
  padding: 1rem 2rem;
  background-color: #2b2b2b;
}

.options li a {
  color: white;
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

#login {
  background-color: white;
}

#login a {
  color: black;
}

#signup:hover {
  background-color: white;
}

#signup:hover > a {
  color: black;
}

/* Header section */
.header_section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.header_section-image {
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 0 82%);
  width: 100%;
  height: 70vh;
  background-image: url(img/main_img.jpg);
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.content {
  width: 70%;
  margin: auto;
  height: 50vh;
}

.content .tagline {
  font-size: 5rem;
  color: white;
  font-weight: 600;
  margin-bottom: 4rem;
}

.search_head {
  width: 30%;
  background-color: white;
  padding: 1rem 2rem;
}

.search_head ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.search_head ul li {
  font-size: 1.6rem;
  position: relative;
}
.search_head ul li::after {
  content: " ";
  position: absolute;
  bottom: -1rem;
  left: 0;
  height: 100%;
  width: 0;
  border-bottom: 2px solid black;
  transition: all 0.5s;
}
.search_head ul li:hover::after {
  width: 100%;
}

.search_body {
  display: flex;
  align-items: center;
  background-color: #f2f4f6;
  justify-content: space-evenly;
  padding: 3rem 4rem;
}
.sub_box i {
  font-size: 1.4rem;
  margin-right: 1rem;
}
.search_box input[type="text"] {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  background-color: white;
}
.search_box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
}
.search_box span {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
#curr {
  background-color: #92c83e;
}
#loc {
  background-color: #e97550;
}
.box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
}

.box input[type="date"],
.box input[type="number"] {
  border: none;
  outline: none;
  padding: 1rem 2rem;
}

.submit_button input[type="submit"] {
  border: none;
  outline: none;
  color: white;
  font-size: 1.6rem;
  padding: 2rem 4rem;
  background-color: #0e0e0e;
  cursor: pointer;
}

/* option tab */
.pac-container .pac-item {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: black;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #fff;
}

.pac-container .pac-item:hover {
  background-color: #f2f2f2;
}

/* data.html */
#user i,
#user_name {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.main_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 70vw;
  overflow-y: scroll;
}
.data_box {
  height: 20rem;
  width: 80%;
  margin: auto;
  background-color: #f2f4f6;
  border-radius: 2rem;
  position: relative;
  margin-bottom: 4rem;
  transition: all 0.5s;
  cursor: pointer;
}
.location_data {
  padding: 4rem;
}
.location_data ul {
  list-style-type: none;
}
.location_data ul ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.location_data ul ul li {
  font-size: 1.6rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}
.driver_data {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4rem;
}
.driver_data ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.driver_data ul li {
  margin-right: 2rem;
  font-size: 1.8rem;
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4rem;
  font-size: 2.4rem;
}
.data_box:hover {
  transform: scale(1.03);
}
/* Media queries */
@media only screen and (min-width: 1524px) and (max-width: 1724px) {
  .nav_bar-child {
    width: 80%;
  }

  .header_section-image {
    height: 70vh;
  }

  .content {
    width: 70%;
  }

  .search_head {
    width: 40%;
  }
}
@media only screen and (min-width: 1124px) and (max-width: 1524px) {
  .nav_bar-child {
    width: 70%;
  }

  .header_section-image {
    height: 70vh;
  }

  .content {
    width: 60%;
  }

  .search_head {
    width: 40%;
  }
  .search_body {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }
  .search_box {
    width: 100%;
    margin-bottom: 2rem;
  }
  .box {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 825px) and (max-width: 1124px) {
  .nav_bar-child {
    width: 90%;
  }

  .header_section-image {
    height: 70vh;
  }
  .main_body {
    width: 90%;
  }
  .content {
    width: 60%;
  }

  .search_head {
    width: 50%;
  }
  .search_body {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }
  .search_box {
    width: 100%;
    margin-bottom: 2rem;
  }
  .box {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 484px) and (max-width: 825px) {
  html {
    font-size: 50%;
  }
  .tagline {
    font-size: 3rem;
    font-weight: 400;
  }
  .main_body {
    width: 100%;
  }
  .nav_bar-child {
    width: 90%;
  }

  .header_section-image {
    height: 70vh;
  }

  .content {
    width: 90%;
  }

  .search_head {
    width: 50%;
  }
  .search_body {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }
  .search_box {
    width: 100%;
    margin-bottom: 2rem;
  }
  .box {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 484px) {
  html {
    font-size: 35.5%;
  }
  .header_section-image {
    height: 60vh;
  }
  .main_body {
    width: 100%;
  }
  .nav_bar-child {
    width: 90%;
  }
  .tagline {
    font-size: 2rem;
  }
  .content {
    width: 95%;
  }
  .search_head {
    width: 50%;
  }
  .search_body {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }
  .search_box {
    width: 100%;
    margin-bottom: 2rem;
  }
  .box input[type="date"],
  .box input[type="number"] {
    padding: 0;
  }
  .box {
    margin-bottom: 2rem;
  }
}
@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(231, 231, 231);
}
 
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
 
.heading {
    color: rgb(117, 132, 245);
    font-size: 45px;
}
 
.title {
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 20px;
}
 
.container {
    height: 600px;
    width: 500px;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}
 
.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(161, 174, 243);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.login,
.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
 
.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(117, 132, 245),
            rgb(117, 132, 245));
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}
 
.moveslider {
    left: 250px;
}
 
.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}
 
.form-section-move {
    left: -500px;
}
 
.login-box,
.signup-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}
 
.login-box {
    gap: 50px;
}
 
.signup-box {
    gap: 30px;
}
 
.ele {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}
 
.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(117, 132, 245),
            rgb(117, 132, 245));
    font-size: 22px;
    border: none;
    cursor: pointer;
}
 
/* For Responsiveness of the page */
 
@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }
 
    .title {
        font-size: 15px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
 
    .slider {
        height: 50px;
        width: 100px;
        left: 50px;
    }
 
    .moveslider {
        left: 150px;
    }
 
    .form-section {
        height: 500px;
        width: 600px;
    }
 
    .form-section-move {
        left: -300px;
    }
 
    .login-box,
    .signup-box {
        height: 100%;
        width: 300px;
    }
 
    .ele {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }
 
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}
 
@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }
 
    .heading {
        font-size: 30px;
    }
 
    .title {
        font-size: 10px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
 
    .slider {
        height: 50px;
        width: 100px;
        left: 27px;
    }
 
    .moveslider {
        left: 127px;
    }
 
    .form-section {
        height: 500px;
        width: 500px;
    }
 
    .form-section-move {
        left: -250px;
    }
 
    .login-box,
    .signup-box {
        height: 100%;
        width: 250px;
    }
 
    .ele {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }
 
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}